
.features__item--blue {
  background-color: @blue-bg;
}

.features__item--grey {
  background-color: @grey-bg;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
}

.features__description {
  font-size: 14px;
}
