
.features__item--blue {
  background-color: @blue-bg;
  color: @white;
  padding: 34px 12px 39px;
}

.features__item--blue:nth-of-type(1) {
  clip-path: polygon(0% 100%, 0% 67%, 50% 69%, 100% 67%, 100% 100%);
}

.features__item--white p {
  text-align: left;
  }

  .features__item--white {
    padding: 5px 10px;
    min-height: 150px;
    display: block;

    @media only screen and (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .features__item--grey {
    min-height: 126px;
  }

  .features__item--grey:not(:first-child) {
    border-top: 1px solid @border-grey;
  }


@media only screen and (min-width: 768px) {
  .features__item--white p,
  .features__item--grey p {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    }

    .features__item--white {
      min-height: 330px;
    }

    .features__item--grey {
      min-height: 256px;
    }
  }


.features__number {
  padding-bottom: 26px;
}

.features__item--grey {
  background-color: @grey-bg;
  padding: 26px;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.features__item--blue .features__description {
  padding-bottom: 36px;
  line-height: 21px;
  font-size: 14px;
  text-align: center;

}

@media only screen and (min-width:768px) {
  .features .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__title {
    font-size: 21px;
    text-align: center;
  }
}

.features li:not(.features__picture):not(.features__item--white) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features li:first-child {
  grid-column: span 3;
}

.features li:nth-of-type(3),
.features li:nth-of-type(7) {
  grid-column: span 2;
  display: flex;
  }

