
.features-wrapper__house {
  position: relative;
  padding: 0 40px 0 70px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.features-wrapper__house::before {
  position: absolute;
  content: url(../../img/icon-house.svg.svg);
  top: 0;
  left: 10px;
  width: 39px;
  height: 36px;

  @media (min-width: @tablet-width) {
    width: 75px;
    height: 75px;
    top: -80%;
    left: 34%;
  }

  @media (min-width: @tablet-width) {
    width: 75px;
    height: 75px;
    top: -97%;
    left: 40%;
  }
}

.features-wrapper__souvenirs {
  position: relative;
  padding: 0 40px 0 70px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.features-wrapper__souvenirs::before {
  position: absolute;
  content: url(../../img/icon-gift.svg.svg);
  top: 0;
  left: 10px;
  width: 32px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 75px;
    top: -112%;
    left: 35%;
  }

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 75px;
    top: -140%;
    left: 41%;
  }
}

.features-wrapper__food {
  position: relative;
  padding: 0 40px 0 70px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.features-wrapper__food::before {
  position: absolute;
  content: url(../../img/icon-burger.svg.svg);
  top: 0;
  left: 10px;
  width: 40px;
  height: 35px;

  @media (min-width: @tablet-width) {
    width: 76px;
    height: 68px;
    top: -97%;
    left: 33%;
  }

  @media (min-width: @tablet-width) {
    width: 76px;
    height: 68px;
    top: -82%;
    left: 40%;
  }
}

.features-wrapper__house b,
.features-wrapper__souvenirs b,
.features-wrapper__food b {
  font-size: 18px;


  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}


.features__item--blue {
  background-color: @blue-bg;
  color: @white;
  padding: 34px 12px 39px;
}

.features__item--blue:nth-of-type(1) {
  clip-path: polygon(0% 100%, 0% 67%, 50% 69%, 100% 67%, 100% 100%);
}

.features__item--white p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 22px;
  }

  .features__item--white {
    padding: 5px 10px;
    min-height: 150px;
    display: block;

    @media only screen and (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .features__item--grey {
    min-height: 126px;
  }

  .features__item--grey:not(:first-child) {
    border-top: 1px solid @border-grey;
  }


@media only screen and (min-width: 768px) {
  .features__item--white p,
  .features__item--grey p {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    }

    .features__item--white {
      min-height: 330px;
    }

    .features__item--grey {
      min-height: 256px;
    }
  }


.features__number {
  padding-bottom: 26px;
}

.features__item--grey {
  background-color: @grey-bg;
  padding: 26px;
}

.features__title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.features__item--blue .features__description {
  padding-bottom: 36px;
  line-height: 21px;
  font-size: 14px;
  text-align: center;

}

@media only screen and (min-width:768px) {
  .features .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__title {
    font-size: 21px;
    text-align: center;
  }
}

.features li:not(.features__picture):not(.features__item--white) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features li:first-child {
  grid-column: span 3;
}

.features li:nth-of-type(3),
.features li:nth-of-type(7) {
  grid-column: span 2;
  display: flex;
  }

