
@media only screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  background-color: @blue-bg;
}


@media only screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    background-color: @white;
  }

  .main-nav__list .list__item {
    color:black;
  }
}
.main-nav {
  min-height: 56px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 44%;
}


