.photo__author {
  text-transform: none;
}

.photo__title,
.video__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.photo__header,
.photo__amount-like {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.photo__description,
.video__description {
  font-size: 14px;
  line-height: 24px;
}
