
@media only screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  a {
    color: @white;
    font-size: 18px;
    font-weight: 700;
  }
}

.main-nav__list {
  background-color: @blue-bg;
}


@media only screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    background-color: @white;
  }

  .main-nav__list a {
    font-size: 14px;
    font-weight: 700;

    &:hover {
      color: @blue-bg;
    }
    &:active {
      color: @black;
      opacity: 0.3;
    }
  }
}
.main-nav {
  min-height: 56px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 44%;
}


