@media only screen and (max-width:767px) {
  .page-footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}


@media only screen and (min-width:@tablet-width) {
  .page-footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .academy-logo:hover {
    fill: @blue-bg;
  }
}

.academy-logo:active {
  fill: @black;
  opacity: 0.3;
}

.map {
  padding-bottom: 10px;
}

.page-footer__list {
  display: flex;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 46px;
  height: 48px;
  background-color: @blue-bg;

    &:hover {
      background-color: @button-hover;
    }

    &:active {
      background-color: @button-active;
    }
}

.twitter:active,
.facebook:active,
.youtube:active {
  fill: @white;
  opacity: 0.3;
}

.page-footer__link:nth-last-of-type(1),
.page-footer__link:nth-last-of-type(2) {
  margin-right: 6px;
}

.page-footer__hashtag {
  padding: 28px 0 33px;
  color: @black;
  font-weight: 700;
  font-size: 21px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-description {
  font-size: 14px;
  margin-bottom: 26px;
  margin-right: 10px;
}
