
.page-main-form__title-image {
  background-image: url(../../img/back-desktop-form.jpg);
}

.page-main-form__description {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}

.page-main-form__label,
.page-main-form__text {
  font-size: 14px;
}

input::placeholder {
  text-transform: none;
}

.page-main-form__title {
  display: flex;
  flex-direction: column;
}

.page-main-form__header {
  font-size: 18px;
  font-weight: 700;
}

.page-main-form__input {
  margin-bottom: 20px;
}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 768px) {
  .form-input-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .page-main-form__title:nth-of-type(3) {
    order: -1;
  }

  .page-main-form__title:nth-of-type(2),
  .page-main-form__title:nth-of-type(4),
  .page-main-form__title:nth-of-type(5) {
    grid-column: span 3;
    text-align: center;

  }

}

@media only screen and (min-width: 1200px) {
  .form-input-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .page-main-form__title:nth-of-type(2),
  .page-main-form__title:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
